<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top navbar-nav-scroll">
  <div class="container-fluid">
    <img src="../assets/spacex-logo.9250222f.svg" width="300" height="70" alt="">
      <div class="collapse navbar-collapse">          
          <nav class="navbar-nav navbar-right ms-auto">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/launches">Launches</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="">Capsules</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/rockets">Rockets</a>
              </li>
          </ul>
          </nav>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>
